@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');     
            
            /* ATRIBUCIÓN */
.attribution { 
    font-size: 11px; text-align: center; 
    margin: 20px;
}
.attribution a { color: hsl(228, 45%, 44%); }


            /* COLORS */
:root {
    --Orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue-circle: hsl(213, 19%, 18%);
    --dark-blue: hsl(214, 19%, 12%);
    --very-dark-blue: hsl(216, 12%, 8%);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);
    font-size: 15px;

}

 body{
    background-color: var(--very-dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;


 } 
  .contenedorPrincipal{
    height: 360px;
    width: 330px;
    background-color: var(--dark-blue);
    border-radius: 15px;
    font-family: 'Overpass', sans-serif;

  }

    .contenedorIcono{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--dark-blue-circle);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 25px 0 20px 25px;
        
    }

    .contenedorTextos{

        
    }

        .tituloPrincipal{
            margin: 20px 25px 15px 25px;
            font-size: 25px;
        }

        .parrafoPrincipal{
            margin-left: 25px ;
            opacity: .5;
            
        }

        .contenedorValoraciones{
            
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 30px 15px ;

            
        }

            .valor{
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: var(--dark-blue-circle);  
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
            }

            .valor:hover{
                background-color: var(--Orange);
            }

            .textoValor{
                font-size: 14px;
                opacity: .5;
            }

        .contenedorBoton{
            display: flex;
            align-items: center;
            justify-content: center;
            
        }

            .formulario{

            }
            .botonSubmit{
                width: 280px;
                height: 45px;
                border: none;
                background-color: var(--Orange);
                border-radius: 25px;
                letter-spacing: 2px;
                font-size: 14px;
                cursor: pointer;
            }

            .botonSubmit:hover{
                background-color: var(--white);
                color: var(--Orange);
            }

            .divMarcado{
                background-color: var(--light-grey);
            }


.contenedorSecundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

    .contenedorImagen{
        margin: 30px 0 25px 0;
        
    }

    .contenedorValoracionFinal{
        
        background-color: var(--dark-blue-circle);
        width: 170px;
        height: 30px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        
    }

        .valoracionFinal{
           font-size: 14px; 
           color: var(--Orange);
           opacity: .8;
           font-family: 'Overpass', sans-serif;
        }

        .contenedorTextosAgradecimiento{
            
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 30px 0;
        }

            .tituloAgradecimiento{
                font-size: 23px;
                margin-bottom: 15px;
            }
            .parrafoAgradecimiento{
                text-align: center;
                opacity: .5;
            }

@media screen and (min-width: 1440px) {
    .contenedorPrincipal{
        width: 410px;
        height: 420px;
        border-radius: 25px;
    }

    .contenedorIcono{
        width: 50px;
        height: 50px;
        margin-top: 30px;
    }

    .tituloPrincipal{
        margin-top: 30px;
        font-size: 28px;
    }

    .parrafoPrincipal{
        line-height: 23px;
        padding-right: 20px;
        
    }

    .valor{
        width: 50px;
        height: 50px;
    }


    .contenedorImagen{
        margin: 40px 0;
        
    }

    .parrafoAgradecimiento{
        padding: 15px 35px;
    }
}